.hidden {
  display: none;
}

.span {
  color: brown;
}

.logo1 {
  align-items: flex-start;
  width: 33%;
  margin-right: 25px;
}

.logo-next {
  float:inline-end;
  height: 100%;
  width: 33%;
  margin-right: 25px;
  padding-top: 25px;
}

.images {
  
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.bottom {
  background-color: lightskyblue;
  padding: 5%;
  border: black solid 2px;
}